[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
openpyxl = "*"
ipykernel = "*"
plotly = "*"
plotly-express = "*"
nbformat = "*"
requests = "*"
html5lib = "*"
bs4 = "*"
lxml = "*"
python-dotenv = "*"
dash = "*"
dash-bootstrap-components = "*"
pandas-datareader = "*"

[dev-packages]

[requires]
python_version = "3.9"
